[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.9.2"
ipython = "==7.27.0"

[packages]

[requires]
python_full_version = "3.9.7"

[pipenv]
allow_prereleases = true
